* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 50px auto;
    text-align: center;
    width: 800px;
    background-image: url(../images/bg-main.jpg);
    background-size: 100%;
}
h1 {
    font-family: 'Passion One';
    font-size: 2rem;
    text-transform: uppercase;
}
label {
    width: 200px;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato';
}
input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}
form {
    margin: 25px auto;
    padding: 20px;
    border: 3px solid transparent; 
    border-image: 10 repeating-linear-gradient(90deg, #f598a8, #f6edb2);
    width: 500px;
    background: #eee;
}
div.form-element {
    margin: 20px 0;
}
button {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    background: #0089d7;
    color: white;
    border: none;
}
p.success,
p.error {
    color: white;
    font-family: lato;
    background: #0089d7;
    display: inline-block;
    padding: 2px 10px;
}
p.error {
    background: orangered;
}
.button{
    padding: 10px;
    font-size: 1.1rem;
    font-family: 'Lato';
    font-weight: 100;
    background: #0089d7;
    color: white;
    border: none;
    text-decoration: none;
}

.upload input {
    border: 2px solid #ccc;
    font-size: 1rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}