body {
    padding: 0;
    margin: 0;
    font-size: 27px;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
}

section .container {
    min-height: 100%;
    background-color: #efefef;
}

h1, h2, h3, p {
    padding: 20;
    margin: 20;
    font-family: 'Merriweather', serif;
}
a{
	text-decoration:none;
	color: #0089D7;
	margin: 0 auto;
	
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container h5, h6{
    margin: 0px;
    padding: 0px;
}

/*шапка*/

header .container {
    background: #0089d7;
    position: fixed;
    justify-content: center;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

.logo-Webant {
    width: 80px;
    height: 70px;
    margin-right: 80px;
    margin-left: 15px;
}

 .daron {
    padding: 0px;
    margin: 0px;
    width: 500px;
    height: 600px;
}

#text-main {
    padding: 55px;
}

.big-logo {
    padding: 10px;
    margin: 0px;
}

.menu {
    display: flex;
}

.menu li a:hover {
    transition: all 0.4s ease;
    background: #fff;
    color: #0089D7;
    padding: 10px 0px 10px;
}

.menu li {
    margin-right: 38px;
    padding-right: 50px;
    padding-left: 0px;
}


.navigation {
    display: flex;
    align-items: center;
}


/*подвал*/

footer .container {
    background-color: #565656;
    border-top: 10px solid #a3a3a3;
    padding-bottom: 34px;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

h3 {
    color: #fff;
    font-size: 24px;
    letter-spacing: -0.017em;
    font-weight: 900;
    text-align: center;
    margin: 16px 0px 16px;
}

footer p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.017em;
    width: 170px;
    text-align: center;
}

.social {
    margin: 0px 147px 0px 147px;
}

.social img {
    width: 37px;
    height: 37px;
}

.soc-links {
    width: 312px;
    display: flex;
    justify-content: space-between;
}


/*подсветка активного пункта меню*/

#glave {
   font-weight: bold;
    padding-bottom: 9px;
    border-bottom: 5px solid black;
}

section .container {
    width: 971px;
    padding: 80px 100px;
}

section p, section a, ol li {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
}

ol li {
    display: list-item;
}

section h2 {
    font-weight: 900;
    font-size: 34px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.244em;
    margin-bottom: 39px;
}
