.wrapper {
  text-align: center;
  background-color: #efefef;
  max-width: 1000px;
}

.flex {
  display: inline-flex;
  padding: 20px 10px;
}

.cart {
  width: 250px;
  background-color: #fff;
}

.cart:not(:first-child) {
  margin-left: 20px;
}

.img {
  display: inline-block;
  max-width: 150px;
  object-fit: cover;
  padding: 15px;
}

.description {
  font-size: 14px;
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

.price {
  margin: 20px auto;
}

.button {
  margin: 20px auto;
}

.button button {
  border: none;
  outline: none;
  display: inline-block;
  padding: 10px 20px;
  background: #66c05d;
  border-radius: 30px;
  transition: scale 0.1s ease-in;
  color: #fff;
  cursor: pointer;
}

.button:hover button {
  transform: scale(1.1);
  background-color: #48983e;
}

.zatemnenie a{
	text-decoration:none;
	color: #fff;
	margin: 0 auto;
	
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin-top: 150px;
  padding: 50px;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 120%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

a.button {
  display: inline-block;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
a.button:hover { background: rgba(255,255,255,.2); }
a.button:active { background: #000; }

/*email block*/

input {
  display:block;
  width:95%;
  margin:10px 0;
  padding:10px;
  justify-content: space-between;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

.email-on {
  border:1px solid #111;
  transition: .3s background-color;
}
.email-on:hover {
  background-color: #fafafa;
}